<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AndroidTest</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.servlet.Search</servlet-class>
    <init-param>
	 <param-name>character</param-name>
	 <param-value>UTF-8</param-value>
	 </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/mustSearch</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>User_page</servlet-name>
  		<servlet-class>com.servlet.User_page</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>User_page</servlet-name>
  		<url-pattern>/mustUser</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/mustLogin</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/mustRegister</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>Practice_by_word</servlet-name>
    <servlet-class>com.servlet.Practice_by_word</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practice_by_word</servlet-name>
    <url-pattern>/mustByword</url-pattern>
  </servlet-mapping>
       <servlet>
    <servlet-name>add_good_qusetion</servlet-name>
    <servlet-class>com.servlet.add_good_qusetion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_good_qusetion</servlet-name>
    <url-pattern>/mustBygood</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>show_good_questions</servlet-name>
    <servlet-class>com.servlet.show_good_questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_good_questions</servlet-name>
    <url-pattern>/mustShowquestion</url-pattern>
  </servlet-mapping>
        <servlet>
    <servlet-name>update_info</servlet-name>
    <servlet-class>com.servlet.update_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_info</servlet-name>
    <url-pattern>/mustUpdate</url-pattern>
  </servlet-mapping>
          <servlet>
    <servlet-name>delete_good_question</servlet-name>
    <servlet-class>com.servlet.delete_good_question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_good_question</servlet-name>
    <url-pattern>/mustDeletegood</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>favourite_search</servlet-name>
    <servlet-class>com.servlet.favourite_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>favourite_search</servlet-name>
    <url-pattern>/mustFavourtite</url-pattern>
  </servlet-mapping>
       <servlet>
    <servlet-name>studio</servlet-name>
    <servlet-class>com.servlet.studio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studio</servlet-name>
    <url-pattern>/mustStudio</url-pattern>
  </servlet-mapping>
         <servlet>
    <servlet-name>Practice</servlet-name>
    <servlet-class>com.servlet.Practice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practice</servlet-name>
    <url-pattern>/mustPractice</url-pattern>
  </servlet-mapping>
           <servlet>
    <servlet-name>Practice_res</servlet-name>
    <servlet-class>com.servlet.Practice_res</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practice_res</servlet-name>
    <url-pattern>/mustPractice_res</url-pattern>
  </servlet-mapping>
</web-app>